/* HEADER */
.title,
.subtitle {
  text-align: center;
  color: rgb(249,111,73);
  font-family: 'Nunito', sans-serif;
  margin-bottom: 0;
  margin-top: 0;
}

/* BODY */
html {
  overflow: hidden;
}
body {
  background: rgb(249,111,73);
  color: rgb(255, 237, 225);

  width: 100%;
  font-family: 'Nunito', sans-serif;
  font-size: 4vh;
  text-align: center;
}

.master-container
{
  border: solid #cf8920 2px;
  background-color: rgb(255, 237, 225);
  color: rgb(249,111,73);

  width: 45vh;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 25px;
  border-radius: 40px;
}


.input-text {
  font-size: 23px;
  padding: 10px;
  border-radius: 30px;
}

.submit {
  background: rgb(249,111,73);
  color: rgb(255, 237, 225);

  padding: 10px 12px;
  width: fit-content;
  border-radius: 10px;
  font-size: 3vh;
}

.submitAlt {
  color: rgb(249,111,73);
  background-color: rgb(255, 237, 225);

  padding: 10px 12px;
  width: fit-content;
  border-radius: 10px;
  font-size: 3vh;
}

form {
  text-align: center;
  margin: auto;
}

textarea {
  margin: auto;
  height: 50%;
  width: 65%;
}

/* TABLE */
table {
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: fit-content;
  color: rgb(249,111,73);
  background-color: rgb(255, 237, 225);
}

td, th {
  border: 1px solid rgb(249,111,73);
  padding: 8px;
}

th {
  font-size: 4vh;
}

td {
  font-size: 3vh;
}

tr:hover {background-color: rgb(255, 227, 208);}
/* Base stlying for table from W3schools */