/* HEADER */
.title,
.subtitle {
  text-align: center;
  color: #f1dc16;
  font-family: 'Nunito', sans-serif;
  margin-bottom: 0;
  margin-top: 0;
  text-shadow: -1px 0 rgb(37, 37, 37), 0 1px rgb(37, 37, 37), 1px 0 rgb(37, 37, 37), 0 -1px rgb(37, 37, 37);
}

/* BODY */
body {
  background-color: #edf2f4;
  font-family: 'Nunito', sans-serif;
  color: #2b2d42;
  font-size: 4vh;
}

.master-container
{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 25px;
  border: solid #998f32 1px;
  background-color: rgb(201, 196, 207);
  border-radius: 10px;
}


.input-text {
  font-size: 23px;
  padding: 10px;
}

.submit {
  width: fit-content;
  border-radius: 10px;
  background-color: #f1dc16;
  color: rgb(255, 255, 255);
  text-shadow: -1px 0 rgb(37, 37, 37), 0 1px rgb(37, 37, 37), 1px 0 rgb(37, 37, 37), 0 -1px rgb(37, 37, 37);
  font-size: 3vh;
}

form {
  text-align: center;
  margin: auto;
}

/* TABLE */

.tables {
  text-align: center;
  margin: auto;
  border-collapse: collapse;
  width: 95%;
  font-size: 23px;
}

th {
  background-color: #f1be16;
  color: whitesmoke;
}

tr {
  background-color: white;
}

tr:nth-child(even) {
  background-color: rgb(158, 158, 158);
}

th, td {
  border: 1px solid rgb(124, 124, 124);
  padding: 8px;
}

/* Base stlying for table from W3schools */