<!DOCTYPE html>
<html>

<head>
    <title>New Entry</title>
    <link rel="stylesheet">
</head>

<body>
    <div>
        <h1>New Entry</h1>
        <textarea name="g1" form="form" placeholder="I am grateful for..." rows="1"></textarea>
        <textarea name="g2" form="form" placeholder="I am grateful for..." rows="1"></textarea>
        <textarea name="g3" form="form" placeholder="I am grateful for..." rows="1"></textarea>
        <form method="POST" id="form">
            <input type="submit">
            <input type="text" name="passage" placeholder="Genesis 1:1">
            <input type="text" name="tags" placeholder="Special Occasion">
        </form>
    </div>
</body>

</html>