<!DOCTYPE html>
<html>

<head>
    <title>New Entry</title>
    <link rel="stylesheet" href="static/style.css">
</head>

<body>
    <div>
        <h1 class="title" style="color:rgb(255, 237, 225); padding-bottom: 25px;">New Entry</h1>
        <textarea name="formSubmission" form="form" placeholder="Today I am grateful for..." rows="10"></textarea>
        <form method="POST" id="form">
            <input type="submit" class="submitAlt" style="padding-bottom: 10px;">
        </form>
    </div>
</body>

</html>