<!DOCTYPE html>
<html>

<head>
    <title>Catalog</title>
    <link rel="stylesheet" href="static/style.css">
</head>

<body>
    <h1 class="title">Catalog</h1>
    <h3 class="subtitle">Keep track of your amazing entries</h3>
    <table style="width:80%" class="tables">
        <tr>
            <th>Entry</th>
            <th>Date</th>
        </tr>
        {{ infotable }}
    </table>
    <form method="POST">
        <input type="submit" value="New Entry" name="new_entry">
    </form>

</body>

</html>