<!DOCTYPE html>
<html>

<head>
    <title>Catalog</title>
    <link rel="stylesheet" href="static/style.css">
</head>

<body>
    <h1 class="title" style="color:rgb(255, 237, 225); padding-bottom: 25px;">Catalog</h1>
    <table style="width:80%" class="tables">
        <tr>
            <th>Entry</th>
            <th>Date</th>
        </tr>
        {{ infotable }}
    </table>
    <form method="POST">
        <p><input type="submit" value="New Entry" name="new_entry" class="submitAlt"></p>
    </form>

</body>

</html>