<!DOCTYPE html>
<html>

<head>
    <title>What are you grateful for?</title>
</head>

<body>
    <form action='' method="POST">
        <button name="button" value="login">LOGIN</button>
        <label for="username">Username:</label>
        <input type="text" id="username" name="formUser" style="margin-bottom: 1vmin;">
        <br>
        <label for="password">Password:</label>
        <input id="password" type="password" name="formPass">
    </form>
    <form action="" method="POST">
        <button name="button" value="signup">SIGN UP</button>
    </form>
    <p>{{message}}</p>
</body>

</html>