<!DOCTYPE html>
<html>

<head>
    <title>What are you grateful for?</title>
    <link rel="stylesheet" href="static/style.css">
</head>

<body>
        
    <div class="master-container">
        <h1 class="title">What are you grateful for?</h1>
        <h3 class="subtitle">{{ message }}</h3>
        <form action='' method="POST">
            <p><input class="input-text" type="text" name="formUser" placeholder="username"></p>
            <p><input class="input-text" type="password" name="formPass" placeholder="password"></p>
            <p><input class="submit" type="submit" value="Login" name="login"></p>
        </form>
    </div>
</body>

</html>